@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --padding-geral: 15%;
  --font-primary-color: white;
  --hover-color: #643a79;
  --header-bg: #87509c;
  --laranja: #eb7d4b;
  --green: green;
  --bg-services: #17c2a4;
  --blue: #e7f1f8;
  --bg-icon: #bdd1df;
  --bg-portifolio: #ffdd99;
  --bg-btn-portifolio: #17C2A4;
  --bg-depoimentos: #D74680;
  --bg-contato: #3C5499;
  --bg-input: #273A71;
  --bg-btn-contato: #30BAE7;
  --bg-footer: #344B8E;
}

body {
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-primary-color);
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

header, .header-style, .intro, .services, .portifolio, .team, .skills, .contato {
  padding: 0 var(--padding-geral);
}

header {
  width: 100vw;
  background-color: var(--header-bg);
  height: 50px;
  color: var(--font-primary-color);
}

header img {
  width: 80px;
}

header li, footer li {
  transition: 0.6s;
}

header li:hover {
  transform: scale(1.1);
}

header li:active {
  transform: scale(0.9);
}

header li + li {
  margin-left: 20px;
}

header nav a {
  transition: 0.5s;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 14px;
}

header nav a:hover {
  color: var(--font-primary-color);
  background-color: var(--hover-color);
}

.intro {
  background-color: var(--header-bg);
  color: var(--font-primary-color);
  height: 600px;
}

.intro h1 {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.intro .btn-estilo, .btn-lg-portifolio, .btn-contato {
  height: 70px;
  width: 293px;
  padding: 10px 0;
  font-size: 18px;
  border-radius: 2px;
  transition: 0.5s;
  color: var(--font-primary-color);
  box-shadow: 0px 15px 18px 10px rgba(0, 0, 0, 0.16);  
}

.intro .btn-estilo {
  background-color: var(--laranja);
  border: 1px solid var(--laranja);
}

.intro .btn-estilo:hover {
  background-color: var(--font-primary-color);
  color: var(--laranja);
  border: 1px solid var(--laranja);
  transform: scale(1.05);
}

.intro .btn-estilo:active {
  background-color: var(--green);
  border: 1px solid var(--green);
  transform: scale(0.9);
  color: var(--font-primary-color);
}

.service-text-container p {
  width: 600px;
}

.services {
  background-color: var(--bg-services);
}

.card-bg {
  background-color: var(--bg-services);
  color: var(--font-primary-color);
}

#linha {
  width: 87px;
  border-color: black;
  margin-left: calc(50% - 40px);
}

.services-img {
  width: 95px;
  height: 134px;
}

.services-img-lg {
  width: 159px;
}
.team {
  background-color: var(--blue);
}
.bg-card-team {
  background-color: var(--blue);
}
.bg-card-portifolio {
  background-color: var(--bg-portifolio);
}

.icon-color {
  background-color: var(--bg-icon);
}
.team-img {
  width: 200px;
  height: 200px;
}
.skills {
  background-color: white;
}

.bg-portifolio {
  background-color: var(--bg-portifolio);
}

#btn-portifolio {
  width: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  transition: 0.5s;
}
#btn-portifolio + #btn-portifolio {
  margin-left: 15px;
}

#btn-portifolio:hover {
  color: black;
  background-color: var(--font-primary-color);
  transform: scale(1.05);
}

.portifolio .btn-lg-portifolio {
  background-color: var(--bg-btn-portifolio);
  border: 1px solid var(--bg-btn-portifolio);
}

.portifolio .btn-lg-portifolio:hover {
  transform: scale(1.05);
}

.portifolio .btn-lg-portifolio:active{
  background-color: var(--font-primary-color);
  border: 1px solid var(--font-primary-color);
  transform: scale(0.9);
  color: var(--bg-btn-portifolio);
}

.depoimentos {
  background-color: var(--bg-depoimentos);
  color: var(--font-primary-color);
  padding: 0 10%;
}

.bg-depoimentos-card {
  background-color: var(--bg-depoimentos);
}

.depoimentos-title-margin-left {
  margin-bottom: -5px;
}

.depoimentos-last-p {
  color: var(--bg-portifolio);
  font-size: 18px;
}

.depoimentos-card-margin{
  margin-left: 25px;
}

.depoimentos-margin-top {
  margin-top: 0px;
}

.container-mt{
  margin-top: 100px;
}

.contato {
  background-color: var(--bg-contato);
}

.input-contato, .textarea-contato {
  background-color: var(--bg-input);
  border: 1px solid var(--bg-input);
}

.input-contato {
  height: 56px;
}

.input-contato::placeholder {
  color: var(--font-primary-color);
}

.textarea-contato::placeholder {
  color: var(--font-primary-color);
}

.btn-contato {
  background-color: var(--bg-btn-contato);
  border: 1px solid var(--bg-btn-portifolio);
}

.btn-contato:hover {
  transform: scale(1.05);
}

footer {
  background-color: var(--bg-footer);
  height: 112.03px;
  padding: 0 10%;
}

footer ul {
  height: 100%;
}

footer li:hover {
  transform: scale(1.1);
}

footer li:active {
  transform: scale(0.9);
}

footer a:hover {
  color: var(--bg-btn-contato);
}



@media (max-width: 768px) {
  .header-style {
    flex-direction: column;
    height: 70px;
  }
  header img {
    margin: 10px 0;
  }
  .service-text-container p,
  .team-text-container p,
  .skills-text-container p,
  .portifolio-text-container p {
    width: 400px;
  }

  #btn-portifolio + #btn-portifolio {
    margin-left: 0;
  }

  #btn-portifolio {
    width: 65px;
  }

  .depoimentos-card-margin {
    margin-left: 10px;
  }

  .depoimentos-margin-top {
    margin-top: 20px;
  }

  .container-mt{
    margin-top: 0px;
  }

  .formulario-container {
    flex-wrap: wrap;
  }

  .btn-lg-portifolio, .btn-contato, .intro .btn-estilo {
    font-size: 12px;
    height: 43.54px;
    width: 199.32px;
  }

  footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  footer ul {
    flex-direction: column;
    height: 280px;
  }

}

@media (max-width: 960px) {
  .card-body h5 {
    font-size: 18px;
  }
  .card-body p {
    font-size: 14px;
  }
}
