@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');


:root {  
  --padding-geral: 15%;
  --padding-geral-resp: 10%;
  --font-primary-color: white;
  --hover-color: #643a79;
  --header-bg: #87509c;
  --laranja: #eb7d4b;
  --green: green;
  --bg-services: #17C2A4;
  --blue: #E7F1F8;
  --bg-icon:#BDD1DF;

}


body{
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: var(--font-primary-color);
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

header {
  width: 100vw;
  background-color: var(--header-bg);
  height: 50px;
  color: var(--font-primary-color);
  padding: 0 var(--padding-geral);
}

.header-style {
  padding: 0 var(--padding-geral);
}

header img {
  width: 80px;
}

header li {
  transition: .5s;
}

header li:hover {
  transform: scale(1.1);
}

header li:active {
  transform: scale(.9);
}

header li + li {
  margin-left: 20px;
}

header nav a {
  transition: .5s;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 14px;
}

header nav a:hover {
  color: var(--font-primary-color);
  background-color: var(--hover-color);
}

.intro {
  background-color: var(--header-bg);
  color: var(--font-primary-color);
  height: 500px;
  padding: 0 var(--padding-geral);
}

.intro h1 {
  margin-bottom: 30px;
  width: 90%;
  text-align: center;  
}

.intro .btn-estilo {
  width: 150px;  
  padding: 10px 0;
  font-size: 10px;
  background-color: var(--laranja);
  border: 1px solid var(--laranja);
  border-radius: 2px;
  transition: .5s;
  box-shadow: 0px 5px 32px 0px rgba(0,0,0,0.56);
}

.intro .btn-estilo:hover {
  background-color: var(--font-primary-color);
  color: var(--laranja);
  border: 1px solid var(--laranja);
  transform: scale(1.05);
}

#btn-estilo-active:active {
  background-color: var(--green);
  border: 1px solid var(--green);
  transform: scale(.9);
  color: var(--font-primary-color);
}

.service-text-container p {
  width: 600px;
}

.services {
  padding: 0 var(--padding-geral);
  background-color: var(--bg-services);
}

.card-bg {
  background-color: var(--bg-services);
  color: var(--font-primary-color);
}

#linha {
  width: 87px;
  border-color: black;
  margin-left: calc(50% - 40px);
}

.services-img {
  width: 95px;
  height: 134px;
}

.services-img-lg {
  width: 159px;
}
.team {
  padding: 0 var(--padding-geral);
  background-color: var(--blue);
}
.bg-card-team {
  background-color: var(--blue);

}

.icon-color{
  background-color: var(--bg-icon);

}
.team-img {
  width: 200px;
  height: 200px;
}
.skills {
  padding: 0 var(--padding-geral);
  background-color: white;
}


@media (max-width: 768px) { 
  .header-style {
    flex-direction: column;    
    height: 70px;
  }
  header img {
    margin: 10px 0;
  }
  .service-text-container p, .team-text-container p, .skills-text-container p{
    width: 400px;
  }

}

@media (max-width: 960px) {

  .card-body h5 {
    font-size: 18px;
  }
  .card-body p {
    font-size: 14px;
  }
 }
